@{
    ViewData["Title"] = "Home Page";
}

<style>
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    body {
        background-color: rgb(230, 255, 204);
    }
    
</style>

<body class="text-center">
    <h1 class="display-4">Welcome to the Pantry</h1>
    <p>
       
    </p>
</body>


